header {
    color: white;
    min-width: 1100px;
    background: #181818;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-bottom: 2px solid #888;
}

#title {
    text-align: center;
}

#title img {
    width: 640px;
}

#menu {
    padding: 5px 2px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

#menu-list {
    width: 40%;
    min-width: 650px;
}

    #menu-list li {
        display: inline-block;
        min-height: 20px;
        background-color: #8ccde3;
        text-align: center;
    }

        #menu-list li a {
            display: block;
            min-width: 150px;
            background-color: #2b6cae;
            text-decoration: none;
            color: #ffffff;
        }

            #menu-list li a:hover {
                display: block;
                width: 100%;
                height: 100%;
                background-color: #2195e0;
                text-decoration: none;
                color: white;
            }

#user-status {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

    #user-status a {
        display: block;
        min-width: 100px;
        background-color: #2b6cae;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
        margin-right: 5px;
    }

.logged-as {
    margin-right: 5px;
}

.logout-bt {
    margin-right: 5px;
}

.cart-bt {
    width: auto;
    padding-right: 10px;
}

#list-cats-box {
    display: none;
}
