main {
    min-width: 1350px;
    display: flex;
    color: white;
}

#categories {
    width: 15%;
    margin-right: 5px;
    border: 2px solid #888;
    background-color: #2195e0;
    text-align: center;
}

    #categories ul li {
        display: block;
        text-align: center;
        background-color: #ffffff;
    }

        #categories ul li a {
            display: block;
            text-decoration: none;
            color: #253147;
        }

            #categories ul li a:hover {
                display: block;
                text-decoration: none;
                background-color: #e1e8f0;
            }

#products {
    width: 84%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#list-cats li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #888;
    border-collapse: collapse;
}